.vagrant
.idea
.vscode
packer/output-hashistack
terraform.tfstate*
.terraform
tmp
/ansible/facts.d/
super-linter.log
.terraform.lock.hcl
/template/template_example/.env_override
/template/template_example/docker/conf/config.json
/template/template_example/dev/vagrant/bootstrap/pre_ansible.sh