{% if lookup('env', 'consul_acl') | bool -%}
consul {
    token = "{{ lookup('env', 'consul_master_token') }}"
}
{% endif -%}

vault {
  enabled = true

  # `token` value is injected as VAULT_TOKEN env variable for Nomad service
  # Check `ansible/templates/nomad.service.j2` for details
  # token = "{{ lookup('env', 'vault_master_token') }}"

  address = "{{ lookup('env', 'VAULT_ADDR') }}"
  create_from_role = "nomad-cluster"
}
