[Unit]
Description=consul agent
Requisite=network-online.target sys-subsystem-net-devices-eth1.device
After=network-online.target sys-subsystem-net-devices-eth1.device

[Service]
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -dev -config-file=/etc/consul.d/config.hcl $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target