# To make integration between Vault and Nomad work.
# Variable with VAULT_TOKEN is injected via `EnvironmentFile=/etc/sysconfig/nomad`
# File `/etc/sysconfig/nomad` created in ansible/files/bootstrap/nomad/pre/task/configure-nomad.yml
[Unit]
Description=nomad agent
Requisite=consul.service
After=consul.service vault.service network-online.target
Wants=consul.service vault.service network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/nomad
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent -dev-connect -config=/etc/nomad.d $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
