[Unit]
Description=vault agent
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/vault server -dev -dev-root-token-id=master -config=/etc/vault.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target