#!/bin/sh
printf "Hashistack versions:\\n\\n"
printf "Consul: %s\\n\\n" "$(consul -version)"
printf "Vault: %s\\n\\n" "$(vault -version)"
printf "Terraform: %s\\n\\n" "$(terraform -version)"
printf "Nomad: %s\\n" "$(nomad -version)"