#!/bin/sh
printf "Hashistack versions:"
printf "Consul:\t\t%s" "$(consul -version)"
printf "Vault:\t\t%s" "$(vault -version)"
printf "Terraform:\t%s" "$(terraform -version)"
printf "Nomad:\t\t%s" "$(nomad -version)"