#!/bin/sh
printf "\\n## NOTE ##\\n"
printf "If you started from scratch without a template see: https://github.com/Skatteetaten/vagrant-hashistack/blob/master/README.md#usage\\n"
printf "##########\\n"