name: CI/CD

on:
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, edited, closed]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
      - name: Super-Linter
        uses: github/super-linter@v2.0.0

  build:
    # Macos includes virtualbox and vagrant.
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Versions on runner
        run: make versions

      - name: Run make build
        run: make build

      - name: Make box available as artifact
        uses: actions/upload-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack/package.box

  test:
    needs: build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack

      - name: Run make test
        run: make test

  release-prerequisites:
    needs:
      - test
      - linter
    if: contains(github.event.pull_request.labels.*.name, 'major')||contains(github.event.pull_request.labels.*.name, 'minor')||contains(github.event.pull_request.labels.*.name, 'patch')
    runs-on: macos-latest
    outputs:
      bump: ${{ steps.bump.outputs.match }}
      next_version: ${{ steps.next_version.outputs.version }}
      current_version: ${{ fromJson(steps.current_version.outputs.output).data.current_version.version }}
      log_entry: ${{ steps.changelog_reader.outputs.log_entry }}
    steps:
      - uses: actions/checkout@v2
      - id: current_version
        uses: satak/webrequest-action@v1.2.3
        with:
          url: https://app.vagrantup.com/api/v1/box/fredrikhgrelland/hashistack
          method: GET

      - name: Require PR label (major/minor/patch)
        id: bump
        uses: zwaldowski/match-label-action@v1
        with:
          allowed: major,minor,patch

      - id: next_version
        uses: zwaldowski/semver-release-action@v1
        with:
          dry_run: true
          bump: ${{ steps.bump.outputs.match }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v1.1.0
        with:
          version: ${{ steps.next_version.outputs.version }}
          path: CHANGELOG.md
      
      - name: Print current version of vagrantbox
        run: |
          echo "Current version on vagrant cloud: ${{ fromJson(steps.current_version.outputs.output).data.current_version.version }}"
          echo "New version about to be pushed to vagrant cloud: ${{ steps.next_version.outputs.version }}"
          echo "New changelog: ${{ steps.changelog_reader.outputs.log_entry }}"

  release:
    if: github.event.action == 'closed' && github.event.pull_request.merged == true
    needs: release-prerequisites

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get vagrantbox artifact
        uses: actions/download-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack

      - name: Upload and release vagrantbox on vagrant cloud
        uses: nick-invision/retry@v1
        env:
          VAGRANT_CLOUD_TOKEN: ${{ secrets.VAGRANT_CLOUD_TOKEN }}
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: vagrant cloud publish --release --force fredrikhgrelland/hashistack ${{ needs.release-prerequisites.outputs.next_version }} virtualbox packer/output-hashistack/package.box --version-description '${{ needs.release-prerequisites.outputs.log_entry }}'

      - name: Create Release on github
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ needs.release-prerequisites.outputs.next_version }}
          release_name: Release v${{ needs.release-prerequisites.outputs.next_version }}
          body: |
            ${{ needs.release-prerequisites.outputs.log_entry }}
          draft: false
          prerelease: false

      - name: Push template to vagrant-hashistack-template-dev
        uses: cpina/github-action-push-to-another-repository@master
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'template/dev'
          destination-github-username: 'fredrikhgrelland'
          destination-repository-name: 'vagrant-hashistack-template-dev'
          user-email: 'fredrikhoem.grelland@skatteetaten.no'
