name: CI/CD

on:
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, edited, closed]
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Super-Linter
        uses: github/super-linter@v2.0.0

  build:
    #needs: linter
    # Macos includes virtualbox and vagrant.
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Versions on runner
        run: make versions

      - name: Run make build
        run: make build

      - name: Make box available as artifact
        uses: actions/upload-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack/package.box

  test:
    needs: build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack

      - name: Run make test
        run: make test

  release-prerequisites:
    needs: test
    if: contains(github.event.pull_request.labels.*.name, 'major')||contains(github.event.pull_request.labels.*.name, 'minor')||contains(github.event.pull_request.labels.*.name, 'patch')
    runs-on: macos-latest
    outputs:
      bump: ${{ steps.bump.outputs.match }}
      next_version: ${{ steps.next_version.outputs.version }}
      current_version: ${{ fromJson(steps.current_version.outputs.output).data.current_version.version }}
    steps:        # Runs make test
      - id: current_version
        uses: satak/webrequest-action@v1.2.3
        with:
          url: https://app.vagrantup.com/api/v1/box/fredrikhgrelland/hashistack
          method: GET

      - name: Require PR label (major/minor/patch)
        id: bump
        uses: zwaldowski/match-label-action@v1
        with:
          allowed: major,minor,patch

      - id: next_version
        uses: zwaldowski/semver-release-action@v1
        with:
          dry_run: true
          bump: ${{ steps.bump.outputs.match }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v1.1.0
        with:
          version: ${{ steps.next_version.outputs.version }}
          path: ./CHANGELOG.md
      
      - name: Print current version of vagrantbox
        run: |
          echo "Current version on vagrant cloud: ${{ fromJson(steps.current_version.outputs.output).data.current_version.version }}"
          echo "New version about to be pushed to vagrant cloud: ${{ steps.next_version.outputs.version }}"
          echo "New changelog: ${{ steps.changelog_reader.outputs.log_entry }}"

  release:
    if: github.event.action == 'closed' && github.event.pull_request.merged == true
    needs:
      - test
      - release-prerequisites

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get vagrantbox artifact
        uses: actions/download-artifact@v2
        with:
          name: vagrantbox
          path: packer/output-hashistack

      - name: Upload and release vagrantbox on vagrant cloud
        env:
          VAGRANT_CLOUD_TOKEN: ${{ secrets.VAGRANT_CLOUD_TOKEN }}
        run: |
          vagrant cloud publish --release --force fredrikhgrelland/hashistack ${{ needs.release-prerequisites.outputs.next_version }} virtualbox packer/output-hashistack/package.box --version-description ${{ steps.changelog_reader.outputs.log_entry }}

      - name: Release code on github
        uses: zwaldowski/semver-release-action@v1
        with:
          bump: ${{ needs.release-prerequisites.outputs.bump }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
